

.tips-outer-div {
    width: 90%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
    row-gap: 25px;

}

.tip-card {
    width: 100%;
    height: 160px;
    background-color: #2B5F2C;
    color: #fff;
    text-align: left;
    margin: 5px 0px 5px 10px;

}

.tip-logo {
    width: 120px;
    height: auto;
    margin: 10px;
    float: left;

}

.tip-card h3 {
    font-weight: 800;
    font-size: 24px;
    margin: 15px 5px 0px;
}

.tip-card p {
    margin: 10px 5px; 
    font-size: 18px;
}

.scroll-up-arrow {
    position: sticky;
    bottom: 70px;
    z-index: 1;
}

.up-button {
    background-color:#42007B;
    border: 3px solid #606060;
    border-radius: 50%;
    padding: 10px 20px;
    float: right;
    margin-right: 35px;
}

.change-color {
    color:#fff;
}